.Services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.Services .Services-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Services .Services-content .skill{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.Services .Services-content .skill i{
    color: var(--main-color);
    font-size: 30px;
    margin: 0 10px;
}
.Services .Services-content .skill .text{
    width: 300px;
}
.Services .Services-content .skill h1{
    font-weight: 500;
    font-size: 20px;
}
.Services .Services-content .skill p{
    color: rgb(0 0 0 / 50%);
    margin: 10px 0;
    line-height: 1.7;
}
.Services .Services-content .image{
    position: relative;
}
.Services .Services-content .image::before{
    content: '';
    position: absolute;
    right: 0;
    top: -70px;
    z-index: -1;
    background-color: var(--secondary-color);
    width: 100px;
    height: 450px;
}
.Services .Services-content .image img{
    margin-right: 50px;
    width: 250px;
}
@media (max-width: 1200px){
    .Services .Services-content .image{
        display: none;
    }
    .Services .Services-content{
        justify-content: space-around;
    }
}
@media (max-width: 992px){
    .Services .Services-content{
        justify-content: center;
    }
    .Services .Services-content .skill{
        text-align: center;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .Services .Services-content .skill i{
        margin-bottom: 10px;
    }
}
